@font-face {
	font-family: 'Material Icons';
	font-style: normal;
	font-weight: 400;
	src: url(fonts/MaterialIcons-Regular.eot);
	/* For IE6-8 */
	src: local('Material Icons'), local('MaterialIcons-Regular'),
		url(fonts/MaterialIcons-Regular.woff2) format('woff2'),
		url(fonts/MaterialIcons-Regular.woff) format('woff'),
		url(fonts/MaterialIcons-Regular.ttf) format('truetype');
}

@font-face {
	font-family: 'Mono Social Icons Font';
	src: url('fonts/MonoSocialIconsFont-1.10.eot');
	src: url('fonts/MonoSocialIconsFont-1.10.eot?#iefix')
		format('embedded-opentype'),
		url('fonts/MonoSocialIconsFont-1.10.woff')
		format('woff'), url('fonts/MonoSocialIconsFont-1.10.ttf')
		format('truetype'),
		url('fonts/MonoSocialIconsFont-1.10.svg#MonoSocialIconsFont')
		format('svg');
	src: url('fonts/MonoSocialIconsFont-1.10.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

.mono-social-icons {
	font-family: 'Mono Social Icons Font';
	font-weight: normal;
	font-style: normal;
	font-size: 24px; /* Preferred icon size */
	display: inline-block;
	width: 1em;
	height: 1em;
	line-height: 1;
	text-transform: none;
	letter-spacing: normal;
	word-wrap: normal;
	white-space: nowrap;
	direction: ltr;
	-webkit-text-rendering: optimizeLegibility;
	-moz-text-rendering: optimizeLegibility;
	-ms-text-rendering: optimizeLegibility;
	-o-text-rendering: optimizeLegibility;
	text-rendering: optimizeLegibility;
	/* Support for all WebKit browsers. */
	-webkit-font-smoothing: antialiased;
	/* Support for Firefox. */
	-moz-font-smoothing: antialiased;
	-ms-font-smoothing: antialiased;
	-o-font-smoothing: antialiased;
	font-smoothing: antialiased;
	/* Support for IE. */
	font-feature-settings: 'liga';
}

.material-icons {
	font-family: 'Material Icons';
	font-weight: normal;
	font-style: normal;
	font-size: 24px; /* Preferred icon size */
	display: inline-block;
	width: 1em;
	height: 1em;
	line-height: 1;
	text-transform: none;
	letter-spacing: normal;
	word-wrap: normal;
	white-space: nowrap;
	direction: ltr;
	/* Support for all WebKit browsers. */
	-webkit-font-smoothing: antialiased;
	/* Support for Safari and Chrome. */
	text-rendering: optimizeLegibility;
	/* Support for Firefox. */
	-moz-osx-font-smoothing: grayscale;
	/* Support for IE. */
	font-feature-settings: 'liga';
}

hot-table * {
  box-sizing: content-box;
}

